.box {
    height: 100px;
    width: 100px;
    background-color: red;
    position: relative;
    animation-name:demoAnimation2;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}


@keyframes demoAnimation {
    from {
     background-color:red;
    
}

    to{
        background-color: blue;
    }
}


@keyframes demoAnimation2 {
    0% {
     background-color:red;
     top:0px;
     left:0px;
    
}

    25%{
        background-color: green;
        top:0px;
        left: 300px;
    }
    50% {
        background-color: yellow;
        top:300px;
        left: 300px;
       
   }

   75%{
        background-color: aqua;
        top:300px;
        left:0px;
   }
   
       100% {
           background-color: purple;
           top:0px;
           left:0px;
       }

    
}